:root{
    --base-color:#d1d1cf;
    --base-variant:rgb(255, 157, 38);
    --text-color:rgb(0, 0, 0);
    --secondary-text:rgb(0, 0, 0);
    --primary-color:rgb(252, 252, 252);
    --accent-color:#aeaeac;
    --borderbottom-color:#292929;
    --button-text: #29292;
    --button-text-lm: rgb(0, 0, 0);
    --button-text-dm: rgb(0, 0, 0);
    --svgicon-lm:rgb(255, 157, 38);
}
    
.darkmode{
    --base-color:#363737;
    --base-variant:#292929;
    --text-color: rgb(255, 157, 38);
    --secondary-text:rgb(255, 157, 38);
    --primary-color:#292929;
    --accent-color:rgb(255, 157, 38);
    --borderbottom-color: rgb(255, 157, 38);
    --button-text:#292929;
    --button-text-lm: rgb(255, 157, 38);
    --button-text-dm: rgb(255, 157, 38);
    --svgicon-dm:rgb(255, 157, 38);
    
}

* {
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}

body {
    background-color: var(--base-color);
}

.app {
    background-color: var(--primary-color);
    width: 90%;
    max-width: 600px;
    margin: 120px auto 0;
    border-radius: 35px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: var(--text-color);
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid var(--borderbottom-color);
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 15px;
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
}

.btn {
    background: var(--base-variant);
    color: var(--secondary-text);
    font-weight: 500;
    width: 50%;
    border: 1px solid var(--borderbottom-color);
    padding: 10px;
    margin: 10px auto 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
}

.btn:hover:not([disabled]){
    background: var(--base-color);
    color: var(--button-text-dm);
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background: var(--base-variant);
    color: var(--button-text-dm);
    font-weight: 500;
    width: 150px;
    border: 1px solid var(--borderbottom-color);
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background:#0d9247;
    color: var(--button-text-lm);
}

.incorrect{
    background:#b41010;
    color: var(--button-text-lm);
}

#theme-switch{
    height: 30px;
    width: 30px;
    padding: 0px;
    border-radius: 50%;
    background-color: var(--primary-color);
    fill: var(--svgicon-lm);
    display: flex;
    justify-content: center;
    align-items: center;
    position: static; 
    float: right;
    top: 10px;
    right: 10px;
    border: none;
}

#theme-switch svg{
    fill: var(--svgicon-dm);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
   display: block; 
}
